<div>
	<!-- Static navbar -->
	<div class="navbar no-vertical-padding navbar-inverse navbar-static-top">
		<div class="container" >

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">RECEITAS 4 ADS</a>

			</div>

			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav navbar-right" style="display: flex; flex-wrap: wrap; align-items: center; gap: 5px;">

					<li class="input-group" id="search-bar" style="padding-inline: 5px" >
						<div class="form-outline" style="width: 100%;">
							<input type="search" placeholder="Bolo de cenoura" id="search-input" class="form-control" style="border-radius: 5px;"/>
						</div>

						<button id="search-btn" type="button" class="btn btn-primary" style="border-radius: 5px; padding: 0px; padding-inline: 5px;" >
							<span style="font-size: 20px;">🔍</span>
						</button>
					</li>

					<li th:if="${userData}"><span th:text="'Olá, ' + ${userData.name}"> </span></li>
					<li th:if="${userData}"><a th:href="@{/favoritos}">Favoritos</a></li>
					<li th:if="${userData}"><a th:href="@{/sair}">Sair</a></li>

					<li th:if="${userData}"><a th:href="@{/receitas}">Sair</a></li>

					<li th:unless="${userData}"> <a th:href="@{/acesso}">Acesso</a></li>
					<li th:unless="${userData}"> <a th:href="@{/cadastro}">Cadastro</a></li>

					<!-- <li><a th:href="@{/sobre}">Sobre</a></li> -->

				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

</div>

<style> 

span{
	color: white;
}


@media (min-width: 992px) { 
	#search-bar{
		width: 500px;
	}
}

@media (max-width: 992px) { 
	#white{
		min-height: 480px;
	}
	#search-bar{
		width: 300px;
	}
}

</style>


<script>
	// Get the input element and button
	const input = document.getElementById('search-input');
	const button = document.getElementById('search-btn');


	function handleSearch() {
		const searchText = input.value.trim();

		if (searchText === '') {
			return;
		}

		const url = `/busca?q=${encodeURIComponent(searchText)}`;
		history.pushState({}, `Busca por "${searchText}"`, url);

		window.populateRecipesFromURLParams();
	}

	// Add event listener for button click
	button.addEventListener('click', handleSearch);

	// Add event listener for Enter key press
	input.addEventListener('keydown', (event) => {
		if (event.key === 'Enter') {
			handleSearch();
		}
	});

</script>

