<div>
	<!-- Static navbar -->
	<div class="navbar no-vertical-padding navbar-inverse navbar-static-top">
		<div class="container" style="display: flex; flex-direction: column; align-items: center" >

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">RECEITAS 4 ADS</a>

			</div>

			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav navbar-right" style="display: flex; flex-wrap: wrap; align-items: center; gap: 4px;">

					<li class="input-group" id="search-bar" style="padding-inline: 5px">
						<div class="form-outline" style="width: 100%;">
							<input type="search" placeholder="Bolo de cenoura" id="search-input" class="form-control" style="border-radius: 5px;"/>
						</div>

						<button id="search-btn" type="submit" class="btn btn-primary" style="border-radius: 5px; padding: 0px; padding-inline: 5px;" >
							<span style="font-size: 20px;">🔍</span>
						</button>


					</li>

					<li th:if="${userData}"><span style="color: white" th:text="'Olá, ' + ${userData.name}"> </span></li>
					<li th:if="${userData}"><a th:href="@{'/novareceita'}">Nova receita</a></li>
					<li th:if="${userData}"><a th:href="@{'/perfil/' + ${userData.id} + '/favoritos/'}">Favoritos</a></li>
					<li th:if="${userData}"><a th:href="@{/sair}">Sair</a></li>


					<li th:unless="${userData}"> <a th:href="@{/acesso}">Acesso</a></li>
					<li th:unless="${userData}"> <a th:href="@{/cadastro}">Cadastro</a></li>

				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

</div>



<script>
	const input = document.getElementById('search-input');
	const button = document.getElementById('search-btn');

	function convertToQueryParams(text) {
		const queryParams = {};
		const filterPattern =/\b\w+:[\w:]+\b/g 
		const matchesIterator = text.matchAll(filterPattern)

		let nameParam = text.replace(filterPattern, "").trim()
		if(nameParam.length > 0){
			queryParams["nome"] = nameParam;
		}

		for( let match; match = matchesIterator.next(), match.done == false  ;  ){
			let [ paramName, ...values ] = match.value[0].split(":")
			queryParams[paramName] = values.join(":")
		}

		const urlParams = new URLSearchParams(queryParams);
		return urlParams.toString();
	}

	function handleSearch() {
		const searchText = input.value.trim();

		if (searchText === '') {
			return;
		}

		const queryParams = convertToQueryParams(searchText);

		const url = '/busca?' + queryParams;
		window.location.href = url;
	}

	try{
		button.addEventListener('click', handleSearch);
		input.addEventListener('keydown', (event) => {
			if (event.key === 'Enter') {
				handleSearch();
			}
		});

	} catch( e ){

	}

</script>


