<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title th:text="${recipe.name}"></title>
	<meta charset="UTF-8" />

	<th:block th:include="./fragments.html :: necessary-styles-and-scripts" > </th:block>

</head>

  <body>

	<th:block th:include="./navbar.html"> </th:block>

	<div id="white">

	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2" style="display: flex; flex-direction: column">

					<h3 style="text-align: center" th:text="${recipe.name}"></h3>

					<div class="center">

						<div class="center" style="display: flex; gap: 10px; flex-direction: row; font-size: 12px">

							<div class="recipe-details">
								<p  class="no-margin">  <span> 🕛 </span> <span th:text="${recipe.prepareInMinutes}"></span> minutos </p>
								<p  class="no-margin"> 🍳 Modo de preparo: <span th:text="${recipe.cookingMethod}"></span> </p>
							</div>
						</div>

					</div>

					<div th:if="${userData}" style="align-self: end">

					<button id="favoriteButton" type="button" style="padding: 5px;" 
						th:class=" ${wasRecipeFavorited} ? 'btn-favorite-true' : 'btn-favorite-false'">
						<span th:text="${wasRecipeFavorited} ? 'Remover favorito' : 'Favoritar'"></span>
					</button>

					<script>
						function favoriteUnfavorite() {
							var recipeId = [[${recipe.id}]]

							// Toggle the isFavorited value
							isFavorited = !isFavorited;
							
							var button = document.getElementById('favoriteButton');
							
							if (isFavorited) {
								button.classList.add('btn-favorite-true');
								button.classList.remove('btn-favorite-false');
								button.textContent = 'Remover favorito';

								// Send a POST request to add the favorite
								fetch('/perfil/favoritos/' + recipeId, {
									method: 'PUT'
								}).then(response => {
									// Handle the response
								}).catch(error => {
									// Handle the error
								});
							} else {
								button.classList.add('btn-favorite-false');
								button.classList.remove('btn-favorite-true');
								button.textContent = 'Favoritar';

								// Send a DELETE request to remove the favorite
								fetch('/perfil/favoritos/' + recipeId, {
									method: 'DELETE'

								}).then(response => {
									// Handle the response
								}).catch(error => {
									// Handle the error
								});
							}
						}

						document.getElementById("favoriteButton").addEventListener("click", (e) => favoriteUnfavorite())
						var isFavorited = [[${wasRecipeFavorited}]]; 

					</script>
					</div>

					<br>

					<p  th:text="${recipe.description}"></p>

					<h3>Ingredientes:</h3>
					<ul>
						<li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient.name}"></li>
					</ul>

					<h3>Instruções:</h3>
					<ol>
						<li th:each="instruction : ${recipe.instructions}" th:text="${instruction.value}"></li>
					</ol>

					<div th:if="${recipe.additionalInfo != null}" >

						<h3> Informações adicionais: </h3>
						<p th:text="${recipe.additionalInfo}"></p>

						<hr>

					</div>



					<!-- <p> <bt>TAGS: <a href="/#">Wordpress</a> - <a href="#">Web Design</a></bt> </p> -->
					<ol>
						<li th:each="category : ${categories}" th:href="${category}"></li>
					</ol>

					<p th:each="category : ${recipe.categories}">
					<bt> TAGS: 
						<span th:text="${category}"> </span>
					</bt>
					</p>


				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /white -->
	
	
	
	<th:block th:include="./footer.html"> </th:block>

	<th:block th:include="./fragments.html :: bootstrap-js"> </th:block>

  </body>
</html>

<style>

.btn-favorite-true {
	background-color: #eb5353;
	padding: 5px;
	border-radius: 5px;
	color: white;
	border: none;
}

.btn-favorite-false {
	background-color: #006ec0;
	padding: 5px;
	border-radius: 5px;
	color: white;
	border: none;
}

.recipe-details{
	display: flex;
	flex-direction: row;
	gap: 5px;
	<!-- background-color: #e7e7e7; -->
	padding: 10px;
	color: black;
	border-radius: 60px;
	width: fit-content;
}

.center{
	display: flex;
	align-items: center;
	justify-content: center;
}

</style>
