<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" > 

<th:block th:include="./fragments.html :: necessary-styles-and-scripts" > </th:block>

<body>

	<th:block th:include="./navbar.html" > </th:block>

	<div id="white">
		<div class="container">

			<div class="row centered">

				<div id="homePageRandomRecipes" style="display: none">
					<div class="col-lg-6 col-lg-offset-3 centered mt-0">
						<h3> SUAS RECEITAS FAVORITAS </h3>
						<hr>
					</div>
				</div>

				<div>

					<div class="col-lg-6 col-lg-offset-3 centered mt">
						<h3 id="dynamicResultTitle" th:text="'Suas receitas favoritas, ' + ${userData.name}"></h3>
						<hr>
						<p id="dynamicResultDescription">  </p>
					</div>

					<div class="recipe-container" id="dynamic-recipe-container" >

						<div class="recipe-card" th:each="recipe : ${ userData.favoritedRecipes }">
							<a th:href="'/receitas/' + ${recipe.id}">
								<h3 th:text="${recipe.name}"></h3>
							</a>
							<p class="no-margin"  th:text="${recipe.description}"</p>
							<p class="no-margin"  th:text="${recipe.prepareInMinutes} + ' minutos 🕛'"</p>
							<p class="no-margin"  th:text="${recipe.accessesWithinLast7Days} + ' acesso(s) recentes 👁️'"</p>
							<p  class="no-margin"> <span> ⭐ Avaliação média: </span> <span th:text="${recipe.averageRating}"></span> </p>

						</div>

					</div>

				</div>

			</div>

		</div><!-- /container -->

	</div>


	<th:block th:include="./footer.html" > </th:block>
	<th:block th:include="./fragments.html :: bootstrap-js"> </th:block>

</body>


</html>


